@{
    ViewBag.Title = "About";
}

    <!-- PAGE HEADER PART START -->
    <section id="full-page-header" class="page-header">
        <div class="container-fluid">
            <div class="row">

                <div class="col-md-12 p-0 header">

                    <div class="content text-center">

                        <h2>About Us</h2>

                        <h3>Discover our story</h3>

                        <img src="images/title-shape.svg" alt="Title Shape Image">

                        <div class="breadcrumbs">
                            <ul class="breadcrumb justify-content-center">
                                <li class="breadcrumb-item"><a href="index.html">Home</a></li>
                                <li class="breadcrumb-item active" aria-current="page">
                                    About Us
                                </li>
                            </ul>
                        </div>

                    </div>

                </div>
            </div>
        </div>
    </section>
    <!-- PAGE HEADER PART END -->
    <!-- ABOUT US PART START -->
    <section id="full-about-us-page" class="about-us-page about-us">

        <div class="container">
            <div class="row">

                <div class="col col-12 col-sm-12 col-md-12 col-lg-6 order-2 d-lg-none d-xl-none col-left">

                    <img src="images/signature-3.png" alt="Signature 3" class="img-fluid">

                </div>

                <div class="col col-12 col-sm-12 col-md-12 col-lg-6 d-none d-lg-block col-left">

                    <img src="images/signature-3.png" alt="Signature 3" class="img-fluid">

                </div>

                <div class="col col-12 col-sm-12 col-md-12 col-lg-6 col-right">

                    <div class="content">
                        <h2>What we are</h2>

                        <h3>Choosy Foody</h3>

                        <img src="images/title-shape.svg" alt="Title Shape Image">

                        <p class="headline">“We are open for breakfast, lunch and dinner”.</p>

                        <p class="d-xl-none">
                            ChoosyFoody does the business where customers have the access as far-from-home everyday food
                            needs like on a
                            one-stop-shop. Our commitment is to collect fresh, locally produced, organic vegetables and
                            natural seafood to make
                            tasty dishes that you’ll not find anywhere.<br><br>
                            We give outstanding personal services at the lowest possible prices. Our remarkable raw bar
                            offers a variety of Jumbo
                            Lobsters, Natural Oysters, Crispy Cherrystones and Littleneck Clams. Environment here is
                            clean, fun and friendly.
                        </p>

                        <p class="d-none d-xl-block">
                            ChoosyFoody does the business where customers have the access as far-from-home everyday food
                            needs like on a
                            one-stop-shop. Our commitment is to collect fresh, locally produced, organic vegetables and
                            natural seafood to make
                            tasty dishes that you’ll not find anywhere. All of our products with the highest quality and
                            value, healthy, nutritious.
                        </p>

                        <p class="d-none d-xl-block">
                            Our remarkable raw bar
                            offers a variety of Jumbo
                            Lobsters, Natural Oysters, Crispy Cherrystones and Littleneck Clams. Environment here is
                            clean, fun and friendly, so
                            you, your friends and family feel very comfortable here. We promise to make ChoosyFoody the
                            best place to not only for
                            food, but also to get pleasure and as well as the best place to work for the employees.
                        </p>

                        <div class="phone">
                            <p>Our Phone No.</p>
                            <p>+1-123-456-7890</p>
                        </div>
                        <div class="days">
                            <p>Opening Days</p>
                            <p>Monday to Saterday</p>
                        </div>
                        <div class="hours">
                            <p>Opening Hours</p>
                            <p>7am to 11pm</p>
                        </div>
                    </div>

                </div>
            </div>
        </div>

    </section>
    <!-- ABOUT US PART END -->
    <!-- FOOTER PART START -->
    <section id="full-footer" class="footer">

        <div class="footer-top">

            <div class="container">

                <div class="row">

                    <div class="col col-12 col-sm-6 col-md-6 col-xl-4 col-1">

                        <div class="row">

                            <div class="col-md-12 logo">
                                <p>
                                    <a href="index.html"><img src="images/cf-logo.png" alt="Logo"></a>
                                </p>
                            </div>

                            <div class="col-md-12">

                                <div class="social">
                                    <p class="text">Around The Web</p>
                                    <ul>
                                        <li>
                                            <ul>
                                                <li>
                                                    <a class="facebook" href="YOUR%20FACEBOOK%20URL.html">
                                                        <i class="fab fa-facebook-f"></i>
                                                    </a>
                                                </li>
                                                <li>
                                                    <a class="twitter" href="YOUR%20TWITTER%20URL.html">
                                                        <i class="fab fa-twitter"></i>
                                                    </a>
                                                </li>
                                                <li>
                                                    <a class="instagram" href="YOUR%20INSTAGRAM%20URL.html">
                                                        <i class="fab fa-instagram"></i>
                                                    </a>
                                                </li>
                                                <li>
                                                    <a class="behance" href="YOUR%20BEHANCE%20URL.html">
                                                        <i class="fab fa-behance"></i>
                                                    </a>
                                                </li>
                                                <li>
                                                    <a class="behance" href="YOUR%20LINKED%20IN%20URL.html">
                                                        <i class="fab fa-linkedin-in"></i>
                                                    </a>
                                                </li>
                                                <li>
                                                    <a class="behance" href="YOUR%20YOUTUBE%20URL.html">
                                                        <i class="fab fa-youtube"></i>
                                                    </a>
                                                </li>
                                            </ul>
                                        </li>
                                    </ul>

                                </div>
                            </div>
                        </div>

                    </div>

                    <div class="col col-12 col-sm-6 col-md-6 col-xl-1 col-2">
                        <ul>
                            <li><a href="index.html">Home</a></li>
                            <li><a href="about-us.html">About Us</a></li>
                            <li><a href="menu.html">Menu</a></li>
                            <li><a href="our-chefs.html">Our Chefs</a></li>
                            <li><a href="contact-us.html">Contact</a></li>
                        </ul>
                    </div>

                    <div class="col col-12 col-sm-6 col-md-6 col-xl-4 col-3">

                        <div class="phone">
                            <p>+1 234 567 890</p>
                        </div>

                        <div class="mail">
                            <p>INFO@CHOOSYFOODY.COM</p>
                        </div>

                        <div class="address">
                            <p>77 GROVE STREET</p>
                            <p>SOUTH NEWYORK</p>
                            <p>NEWYORK 10013</p>
                            <p>UNITED STATES</p>
                        </div>

                    </div>

                    <div class="col col-12 col-sm-6 col-md-6 col-xl-3 col-4">

                        <p>Write something to us</p>

                        <form action="#">

                            <div class="input-group">
                                <input type="name" class="form-control" placeholder="Your name" autocomplete="off">
                            </div>

                            <div class="input-group">
                                <input type="email" class="form-control" placeholder="Your email" autocomplete="off">
                            </div>

                            <div class="input-group">
                                <textarea class="form-control" name="text" id="text" placeholder="Your message"
                                          autocomplete="off"></textarea>
                            </div>

                            <div class="input-group">
                                <span class="input-group-btn">
                                    <button class="btn" type="submit">Submit</button>
                                </span>
                            </div>

                        </form>

                    </div>

                </div>

            </div>
        </div>

        <div class="footer-bottom">
            <div class="container">

                <div class="row">

                    <div class="col-md-8 col-left">

                        <a href="templateshub.net">Templates Hub</a>

                    </div>

                    <div class="col-md-4 col-right d-none d-md-block">

                    </div>

                </div>

            </div>
        </div>