@{
    ViewBag.Title = "Home Page";
}

<!-- SLIDER PART START -->
<section id="full-slider">

    <div class="slider-item-list">

        <div class="title text-center pb-3">
            <h2>Our</h2>
            <h3>Chef's Choices</h3>
            <img src="~/Content/images/title-shape.svg" alt="Title Shape Image">
        </div>

        <div class="items">

            <ul>
                <li>
                    <img src="~/Content/images/menu-01.jpg" alt="Menu Image 1">
                </li>
                <li>
                    <div class="item-title">Broasted Chicken</div>
                    <div class="item-price">$15.00</div>
                </li>
            </ul>

        </div>

        <div class="items">

            <ul>
                <li>
                    <img src="~/Content/images/menu-02.jpg" alt="Menu Image 2">
                </li>
                <li>
                    <div class="item-title">Athens Chicken Breast</div>
                    <div class="item-price">$25.00</div>
                </li>
            </ul>

        </div>

        <div class="items">

            <ul>
                <li>
                    <img src="~/Content/images/menu-04.jpg" alt="Menu Image 4">
                </li>
                <li>
                    <div class="item-title">Steak-Shrimp Combo</div>
                    <div class="item-price">$15.00</div>
                </li>
            </ul>

        </div>

        <div class="items">

            <ul>
                <li>
                    <img src="~/Content/images/menu-05.jpg" alt="Menu Image 5">
                </li>
                <li>
                    <div class="item-title">North Atlantic Haddock</div>
                    <div class="item-price">$40.00</div>
                </li>
            </ul>

        </div>

        <div class="items">

            <ul>
                <li>
                    <img src="~/Content/images/menu-06.jpg" alt="Menu Image 6">
                </li>
                <li>
                    <div class="~/Content/item-title">Ribeye Steak</div>
                    <div class="~/Content/item-price">$25.00</div>
                </li>
            </ul>

        </div>

    </div>

    <div class="cf-slider">

        <div class="slider slider-1">
            <div class="container">
                <div class="row">

                    <div class="col-md-6 slider-text">

                        <div class="content">

                            <h2>Welcome to</h2>
                            <h3>Choosy<span>Foody</span></h3>

                            <p class="d-sm-none d-md-none d-lg-none d-xl-none">
                                ChoosyFoody does the business where
                                customers have the access as
                                far-from-home everyday food needs like on a one-stop-shop.
                            </p>

                            <p class="d-none d-sm-block">
                                ChoosyFoody does the business where customers have the
                                access as
                                far-from-home everyday food needs like on a one-stop-shop. Our commitment is to
                                collect fresh,
                                locally produced, organic vegetables.
                            </p>

                            <a href="@Url.Action("About","Home") ">
                                <button type="button" class="btn slider-btn shine">Discover-our-Story</button>
                            </a>

                        </div>

                    </div>

                </div>
            </div>
        </div>

        <div class="slider slider-2">
            <div class="container">
                <div class="row">

                    <div class="col-md-6 slider-text">

                        <div class="content">

                            <h2>Awesome Chefs</h2>
                            <h3>Choosy<span>Foody</span></h3>

                            <p class="d-sm-none d-md-none d-lg-none d-xl-none">
                                ChoosyFoody does the business where
                                customers have the access as
                                far-from-home everyday food needs like on a one-stop-shop.
                            </p>

                            <p class="d-none d-sm-block">
                                ChoosyFoody does the business where customers have the
                                access as
                                far-from-home everyday food needs like on a one-stop-shop. Our commitment is to
                                collect fresh,
                                locally produced, organic vegetables.
                            </p>

                            <a href="our-chefs.html">
                                <button type="button" class="btn slider-btn shine">Meet-our-People</button>
                            </a>

                        </div>

                    </div>

                </div>
            </div>
        </div>

        <div class="slider slider-3">
            <div class="container">
                <div class="row">

                    <div class="col-md-6 slider-text">

                        <div class="content">

                            <h2>Charming Menus</h2>
                            <h3>Choosy<span>Foody</span></h3>

                            <p class="d-sm-none d-md-none d-lg-none d-xl-none">
                                ChoosyFoody does the business where
                                customers have the access as
                                far-from-home everyday food needs like on a one-stop-shop.
                            </p>

                            <p class="d-none d-sm-block">
                                ChoosyFoody does the business where customers have the
                                access as
                                far-from-home everyday food needs like on a one-stop-shop. Our commitment is to
                                collect fresh,
                                locally produced, organic vegetables.
                            </p>

                            <a href="menu.html">
                                <button type="button" class="btn slider-btn shine">Uncover-the-Dishes</button>
                            </a>

                        </div>

                    </div>

                </div>
            </div>
        </div>

    </div>

    <div class="slider-arrows">
        <p class="left">
            <i class="fas fa-angle-left"></i>
        </p>
        <p class="right">
            <i class="fas fa-angle-right"></i>
        </p>
    </div>

</section>
<!-- SLIDER PART END -->
<!-- ABOUT US PART START -->
<section id="full-about-us" class="about-us">

    <div class="container">
        <div class="row">

            <div class="col col-12 col-sm-12 col-md-12 col-lg-6 order-2 d-lg-none d-xl-none col-left">

                <img src="~/Content/images/signature-3.png" alt="Signature 3" class="img-fluid">

            </div>

            <div class="col col-12 col-sm-12 col-md-12 col-lg-6 d-none d-lg-block col-left">

                <img src="~/Content/images/signature-3.png" alt="Signature 3" class="img-fluid">

            </div>

            <div class="col col-12 col-sm-12 col-md-12 col-lg-6 col-right">

                <div class="content">

                    <h2>What we are</h2>

                    <h3>Choosy Foody</h3>

                    <img src="~/Content/images/title-shape.svg" alt="Title Shape Image">

                    <p class="headline">
                        “We are open
                        for breakfast, lunch and dinner”
                    </p>


                    <p class="d-md-none d-lg-none d-xl-none ">
                        ChoosyFoody does the business where customers have the access as far-from-home everyday food
                        needs like on a
                        one-stop-shop. Our commitment is to collect fresh, locally produced, organic vegetables and
                        natural seafood to make
                        tasty dishes that you’ll not find anywhere. All of our products with the highest quality and
                        value, healthy, nutritious.
                    </p>

                    <p class="d-none d-md-block d-xl-none">
                        ChoosyFoody does the business where customers have the access as far-from-home everyday food
                        needs like on a
                        one-stop-shop. Our commitment is to collect fresh, locally produced, organic vegetables and
                        natural seafood to make
                        tasty dishes that you’ll not find anywhere. All of our products with the highest quality and
                        value, healthy, nutritious.
                        We give outstanding personal services at the lowest possible prices. Our remarkable raw bar
                        offers a variety of Jumbo
                        Lobsters, Natural Oysters, Crispy Cherrystones and Littleneck Clams. Environment here is
                        clean, fun and friendly.
                    </p>

                    <p class="d-none d-xl-block">
                        ChoosyFoody does the business where customers have the access as far-from-home everyday food
                        needs like on a
                        one-stop-shop. Our commitment is to collect fresh, locally produced, organic vegetables and
                        natural seafood to make
                        tasty dishes that you’ll not find anywhere. All of our products with the highest quality and
                        value, healthy, nutritious.
                        We give outstanding personal services at the lowest possible prices. Our remarkable raw bar
                        offers a variety of Jumbo
                        Lobsters, Natural Oysters, Crispy Cherrystones and Littleneck Clams. Environment here is
                        clean, fun and friendly, so
                        you, your friends and family feel very comfortable here. We promise to make ChoosyFoody the
                        best place to not only for
                        food, but also to get pleasure and as well as the best place to work for the employees.
                    </p>

                    <div class="phone">
                        <p>Our Phone No.</p>
                        <p>+1-123-456-7890</p>
                    </div>

                    <div class="days">
                        <p>Opening Days</p>
                        <p>Monday to Saterday</p>
                    </div>

                    <div class="hours">
                        <p>Opening Hours</p>
                        <p>7am to 11pm</p>
                    </div>

                </div>

            </div>

        </div>
    </div>

</section>
<!-- ABOUT US PART END -->
<!-- SPECIAL PART START -->
<section id="full-special" class="special">
    <div class="container-fluid">

        <div class="row">

            <div class="col-md-12 p-0 parallax-content">

                <div class="background d-md-none d-lg-none d-xl-none">
                    <div class="background-inner">
                        <img class="background_img" src="~/Content/images/special-bg.png" alt="Special Background Image">
                    </div>
                </div>

                <div class="background bg-parallax d-none d-md-block">
                    <div class="background-inner">
                        <img class="background_img" src="~/Content/images/special-bg.png" alt="Special Background Image">
                    </div>
                </div>

                <div class="foreground d-md-none d-lg-none d-xl-none">

                    <div class="content text-center">

                        <h2>Today's Special</h2>

                        <h3>Oven Grilled Lamb</h3>

                        <img src="images/title-shape.svg" alt="Title Shape Image">

                        <p>Our finger licking tasty dish Oven Grilled Lamb with salad and sauce</p>

                        <p class="price">$35.00</p>

                    </div>

                </div>

                <div class="foreground fg-parallax d-none d-md-block">

                    <div class="content text-center">

                        <h2>Today's Special</h2>

                        <h3>Oven Grilled Lamb</h3>

                        <img src="~/Content/images/title-shape.svg" alt="Title Shape Image">

                        <p>Our finger licking tasty dish Oven Grilled Lamb with salad and sauce</p>

                        <p class="price">$35.00</p>

                    </div>

                </div>

                <div class="special-menu-tabs-master">

                    <div class="special-menu-tabs">

                        <div class="container-fluid">

                            <!-- Invisible ONLY on MEDIAL 1200 -->
                            <div class="col-1200-none">
                                <div class="row">

                                    <div class="col col-12 col-sm-12 col-md-12 col-lg-12 col-xl-2 col-left">

                                        <p>ChoosyFoody</p>

                                        <h3>menu</h3>

                                        <div class="menu-category m-auto button-group filters-button-group">

                                            <button type="button" class="button active" data-filter="*">
                                                All
                                                Dishes
                                            </button>

                                            <button type="button" class="button"
                                                    data-filter=".breakfast">
                                                Breakfast
                                            </button>

                                            <button type="button" class="button" data-filter=".lunch">Lunch</button>

                                            <button type="button" class="button"
                                                    data-filter=".dinner">
                                                Dinner
                                            </button>

                                            <button type="button" class="button"
                                                    data-filter=".drinks">
                                                Drinks
                                            </button>

                                            <button type="button" class="button"
                                                    data-filter=".snacks">
                                                Snacks
                                            </button>

                                        </div>

                                    </div>

                                    <div class="col col-12 col-sm-12 col-md-12 col-lg-12 col-xl-10">

                                        <div class="row grid menu-list">

                                            <div class="element-item items col-xs-6 col-sm-6 col-md-3 p-0 drinks lunch snacks">

                                                <div class="inner-item">
                                                    <img src="~/Content/images/menu-01.jpg">
                                                </div>

                                                <div class="items-overlay">
                                                    <p>Broasted Chicken</p>
                                                    <p>$15.90</p>
                                                </div>

                                            </div>

                                            <div class="element-item items col-md-3 col-xs-6 col-sm-6 p-0 dinner breakfast drinks lunch">

                                                <div class="inner-item">
                                                    <img src="~/Content/images/menu-02.jpg">
                                                </div>

                                                <div class="items-overlay">
                                                    <p>Athens Chicken Breast</p>
                                                    <p>$25.90</p>
                                                </div>

                                            </div>

                                            <div class="element-item items col-md-3 col-xs-6 col-sm-6 p-0 drinks snacks lunch dinner">

                                                <div class="inner-item">
                                                    <img src="~/Content/images/menu-03.jpg">
                                                </div>

                                                <div class="items-overlay">
                                                    <p>Steak-Shrimp Combo</p>
                                                    <p>$15.90</p>
                                                </div>

                                            </div>

                                            <div class="element-item items col-md-3 col-xs-6 col-sm-6 p-0 lunch breakfast drinks snacks">

                                                <div class="inner-item">
                                                    <img src="~/Content/images/menu-04.jpg">
                                                </div>

                                                <div class="items-overlay">
                                                    <p>North Atlantic Haddock</p>
                                                    <p>$40.00</p>
                                                </div>

                                            </div>

                                            <div class="element-item items col-md-3 col-xs-6 col-sm-6 p-0 breakfast lunch snacks dinner d-none d-md-block">

                                                <div class="inner-item">
                                                    <img src="~/Content/images/menu-05.jpg">
                                                </div>

                                                <div class="items-overlay">
                                                    <p>Apple Ceider squash and pork</p>
                                                    <p>$15.90</p>
                                                </div>

                                            </div>

                                            <div class="element-item items col-md-3 col-xs-6 col-sm-6 p-0 drinks breakfast dinner lunch snacks d-none d-md-block">

                                                <div class="inner-item">
                                                    <img src="~/Content/images/menu-06.jpg">
                                                </div>

                                                <div class="items-overlay">
                                                    <p>Ribeye Steak</p>
                                                    <p>$25.90</p>
                                                </div>

                                            </div>

                                            <div class="element-item items col-md-3 col-xs-6 col-sm-6 p-0 drinks dinner breakfast d-none d-md-block">

                                                <div class="inner-item">
                                                    <img src="~/Content/images/menu-07.jpg">
                                                </div>

                                                <div class="items-overlay">
                                                    <p>Fried Mushrooms</p>
                                                    <p>$23.00</p>
                                                </div>

                                            </div>

                                            <div class="element-item items col-md-3 col-xs-6 col-sm-6 p-0 breakfast drinks snacks dinner d-none d-md-block">

                                                <div class="inner-item">
                                                    <img src="~/Content/images/menu-08.jpg">
                                                </div>

                                                <div class="items-overlay">
                                                    <p>Breaded Calamari Rings</p>
                                                    <p>$14.90</p>
                                                </div>

                                            </div>

                                            <div class="element-item items col-md-3 col-xs-6 col-sm-6 p-0 lunch drinks snacks breakfast d-none d-md-block">

                                                <div class="inner-item">
                                                    <img src="~/Content/images/menu-09.jpg">
                                                </div>

                                                <div class="items-overlay">
                                                    <p>Grecian Salata</p>
                                                    <p>$22.90</p>
                                                </div>

                                            </div>

                                            <div class="element-item items col-md-3 col-xs-6 col-sm-6 p-0 breakfast lunch snacks dinner d-none d-md-block">

                                                <div class="inner-item">
                                                    <img src="~/Content/images/menu-10.jpg">
                                                </div>

                                                <div class="items-overlay">
                                                    <p>Crabmeat Julienne</p>
                                                    <p>$19.90</p>
                                                </div>

                                            </div>

                                            <div class="element-item items col-md-3 col-xs-6 col-sm-6 p-0 drinks dinner lunch breakfast snacks d-none d-md-block">

                                                <div class="inner-item">
                                                    <img src="~/Content/images/menu-11.jpg">
                                                </div>

                                                <div class="items-overlay">
                                                    <p>Chicken Lo-Cal Plate</p>
                                                    <p>$15.90</p>
                                                </div>

                                            </div>

                                            <div class="element-item items col-md-3 col-xs-6 col-sm-6 p-0 breakfast snacks dinner d-none d-md-block">

                                                <div class="inner-item">
                                                    <img src="~/Content/images/menu-12.jpg">
                                                </div>

                                                <div class="items-overlay">
                                                    <p>Apple Ceider squash and pork</p>
                                                    <p>$18.00</p>
                                                </div>

                                            </div>

                                        </div>

                                    </div>

                                </div>
                            </div>

                            <!-- Visible ONLY on MEDIAL 1200 -->
                            <div class="col-1200">
                                <div class="row ">

                                    <div class="col-xl-10 offset-xl-1">

                                        <div class="row">

                                            <div class="col col-12 col-sm-12 col-md-12 col-lg-12 col-xl-2 col-left">

                                                <p>ChoosyFoody</p>

                                                <h3>menu</h3>

                                                <div class="menu-category m-auto button-group filters-button-group">

                                                    <button type="button" class="button active" data-filter="*">
                                                        All
                                                        Dishes
                                                    </button>

                                                    <button type="button" class="button"
                                                            data-filter=".breakfast">
                                                        Breakfast
                                                    </button>

                                                    <button type="button" class="button"
                                                            data-filter=".lunch">
                                                        Lunch
                                                    </button>

                                                    <button type="button" class="button"
                                                            data-filter=".dinner">
                                                        Dinner
                                                    </button>

                                                    <button type="button" class="button"
                                                            data-filter=".drinks">
                                                        Drinks
                                                    </button>

                                                    <button type="button" class="button"
                                                            data-filter=".snacks">
                                                        Snacks
                                                    </button>

                                                </div>

                                            </div>

                                            <div class="col col-12 col-sm-12 col-md-12 col-lg-12 col-xl-10">

                                                <div class="row grid menu-list">

                                                    <div class="element-item items col-xs-6 col-sm-6 col-md-3 p-0 drinks lunch snacks">

                                                        <div class="inner-item">
                                                            <img src="~/Content/images/menu-01.jpg">
                                                        </div>

                                                        <div class="items-overlay">
                                                            <p>Broasted Chicken</p>
                                                            <p>$15.90</p>
                                                        </div>

                                                    </div>

                                                    <div class="element-item items col-md-3 col-xs-6 col-sm-6 p-0 dinner breakfast drinks lunch">

                                                        <div class="inner-item">
                                                            <img src="~/Content/images/menu-02.jpg">
                                                        </div>

                                                        <div class="items-overlay">
                                                            <p>Athens Chicken Breast</p>
                                                            <p>$25.90</p>
                                                        </div>

                                                    </div>

                                                    <div class="element-item items col-md-3 col-xs-6 col-sm-6 p-0 drinks snacks lunch dinner">

                                                        <div class="inner-item">
                                                            <img src="~/Content/images/menu-03.jpg">
                                                        </div>

                                                        <div class="items-overlay">
                                                            <p>Steak-Shrimp Combo</p>
                                                            <p>$15.90</p>
                                                        </div>

                                                    </div>

                                                    <div class="element-item items col-md-3 col-xs-6 col-sm-6 p-0 lunch breakfast drinks snacks">

                                                        <div class="inner-item">
                                                            <img src="~/Content/images/menu-04.jpg">
                                                        </div>

                                                        <div class="items-overlay">
                                                            <p>North Atlantic Haddock</p>
                                                            <p>$40.00</p>
                                                        </div>

                                                    </div>

                                                    <div class="element-item items col-md-3 col-xs-6 col-sm-6 p-0 breakfast lunch snacks dinner">

                                                        <div class="inner-item">
                                                            <img src="~/Content/images/menu-05.jpg">
                                                        </div>

                                                        <div class="items-overlay">
                                                            <p>Apple Ceider squash and pork</p>
                                                            <p>$15.90</p>
                                                        </div>

                                                    </div>

                                                    <div class="element-item items col-md-3 col-xs-6 col-sm-6 p-0 drinks breakfast dinner lunch snacks">

                                                        <div class="inner-item">
                                                            <img src="~/Content/images/menu-06.jpg">
                                                        </div>

                                                        <div class="items-overlay">
                                                            <p>Ribeye Steak</p>
                                                            <p>$25.90</p>
                                                        </div>

                                                    </div>

                                                    <div class="element-item items col-md-3 col-xs-6 col-sm-6 p-0 drinks dinner breakfast">

                                                        <div class="inner-item">
                                                            <img src="~/Content/images/menu-07.jpg">
                                                        </div>

                                                        <div class="items-overlay">
                                                            <p>Fried Mushrooms</p>
                                                            <p>$23.00</p>
                                                        </div>

                                                    </div>

                                                    <div class="element-item items col-md-3 col-xs-6 col-sm-6 p-0 breakfast drinks snacks dinner">

                                                        <div class="inner-item">
                                                            <img src="~/Content/images/menu-08.jpg">
                                                        </div>

                                                        <div class="items-overlay">
                                                            <p>Breaded Calamari Rings</p>
                                                            <p>$14.90</p>
                                                        </div>

                                                    </div>

                                                    <div class="element-item items col-md-3 col-xs-6 col-sm-6 p-0 lunch drinks snacks breakfast">

                                                        <div class="inner-item">
                                                            <img src="~/Content/images/menu-09.jpg">
                                                        </div>

                                                        <div class="items-overlay">
                                                            <p>Grecian Salata</p>
                                                            <p>$22.90</p>
                                                        </div>

                                                    </div>

                                                    <div class="element-item items col-md-3 col-xs-6 col-sm-6 p-0 breakfast lunch snacks dinner">

                                                        <div class="inner-item">
                                                            <img src="~/Content/images/menu-10.jpg">
                                                        </div>

                                                        <div class="items-overlay">
                                                            <p>Crabmeat Julienne</p>
                                                            <p>$19.90</p>
                                                        </div>

                                                    </div>

                                                    <div class="element-item items col-md-3 col-xs-6 col-sm-6 p-0 drinks breakfast dinner lunch snacks">

                                                        <div class="inner-item">
                                                            <img src="~/Content/images/menu-11.jpg">
                                                        </div>

                                                        <div class="items-overlay">
                                                            <p>Chicken Lo-Cal Plate</p>
                                                            <p>$15.90</p>
                                                        </div>

                                                    </div>

                                                    <div class="element-item items col-md-3 col-xs-6 col-sm-6 p-0 breakfast snacks dinner">

                                                        <div class="inner-item">
                                                            <img src="~/Content/images/menu-12.jpg">
                                                        </div>

                                                        <div class="items-overlay">
                                                            <p>Apple Ceider squash and pork</p>
                                                            <p>$18.00</p>
                                                        </div>

                                                    </div>

                                                </div>

                                            </div>

                                        </div>

                                    </div>

                                </div>
                            </div>

                        </div>

                    </div>
                </div>

            </div>

        </div>

    </div>
</section>
<!-- SPECIAL PART END -->
<!-- TESTIMONIAL PART START -->
<section id="full-testimonial" class="testimonial">

    <div class="container-fluid">

        <div class="col testimonial-title text-center">

            <div class="content">

                <h2>Clients</h2>

                <h3>Testimonials</h3>

                <img src="~/Content/images/title-shape.svg" alt="Title Shape Image">

            </div>

        </div>

        <div class="cf-testimonial-slider">

            <div class="testimonial-slider testimonial-slider-1">
                <div class="container">
                    <div class="row">
                        <div class="col-md-8 offset-md-2 text-center">

                            <div class="content">

                                <img class="client-img img-fluid" src="~/Content/images/client-1.jpg" alt="Client 1 Image">

                                <div class="star">
                                    <span class="fa fa-star checked"></span>
                                    <span class="fa fa-star checked"></span>
                                    <span class="fa fa-star checked"></span>
                                    <span class="fa fa-star checked"></span>
                                    <span class="fa fa-star checked"></span>
                                </div>

                                <p class="headline">
                                    "I
                                    had such a wonderful evening yesterday, on my Birthday. The
                                    food
                                    was, as per usual, absolutely delicious and my Mother and I thoroughly enjoyed
                                    ourselves"
                                </p>

                                <img class="double-quote" src="~/Content/images/left-quote-color.png" alt="Quote">

                                <img class="client-sign" src="~/Content/images/signature-1.png" alt="Signature 1 Image">

                                <p class="client-name">Erin Stemy</p>

                            </div>

                        </div>
                    </div>
                </div>
            </div>

            <div class="testimonial-slider testimonial-slider-2">
                <div class="container">
                    <div class="row">
                        <div class="col-md-8 offset-md-2 text-center">

                            <div class="content">

                                <img class="client-img img-fluid" src="~/Content/images/client-2.jpg" alt="Client 2 Image">

                                <div class="star">
                                    <span class="fa fa-star checked"></span>
                                    <span class="fa fa-star checked"></span>
                                    <span class="fa fa-star checked"></span>
                                    <span class="fa fa-star checked"></span>
                                    <span class="fa fa-star checked"></span>
                                </div>

                                <p class="headline">
                                    "I had such a wonderful evening yesterday, on my Birthday. The
                                    food
                                    was, as per usual, absolutely delicious and my Mother and I thoroughly enjoyed
                                    ourselves"
                                </p>

                                <img class="double-quote" src="~/Content/images/left-quote-color.png" alt="Quote">

                                <img class="client-sign" src="~/Content/images/signature-2.png" alt="Signature 2 Image">

                                <p class="client-name">A Jahe</p>

                            </div>

                        </div>
                    </div>
                </div>
            </div>

            <div class="testimonial-slider testimonial-slider-3">
                <div class="container">
                    <div class="row">
                        <div class="col-md-8 offset-md-2 text-center">

                            <div class="content">

                                <img class="client-img img-fluid" src="~/Content/images/client-3.jpg" alt="Client 3 Image">

                                <div class="star">
                                    <span class="fa fa-star checked"></span>
                                    <span class="fa fa-star checked"></span>
                                    <span class="fa fa-star checked"></span>
                                    <span class="fa fa-star checked"></span>
                                    <span class="fa fa-star checked"></span>
                                </div>

                                <p class="headline">
                                    "I had such a wonderful evening yesterday, on my Birthday. The
                                    food
                                    was, as per usual, absolutely delicious and my Mother and I thoroughly enjoyed
                                    ourselves"
                                </p>

                                <img class="double-quote" src="~/Content/images/left-quote-color.png" alt="Quote">

                                <img class="client-sign" src="~/Content/images/signature-3.png" alt="Signature 3 Image">

                                <p class="client-name">K Ataturk</p>

                            </div>

                        </div>
                    </div>
                </div>
            </div>

        </div>

        <div class="testimonial-slider-arrows">
            <p class="testimonial-left">
                <i class="fas fa-angle-left"></i>
            </p>
            <p class="testimonial-right">
                <i class="fas fa-angle-right"></i>
            </p>
        </div>

    </div>
</section>
<!-- TESTIMONIAL PART END -->
<!-- BOOK A TABLE PART START -->
<span class="anchor" id="anchor-booktable"></span>
<section id="full-book-table" class="book-table">
    <div class="container-fluid">
        <div class="row">

            <div class="col-xs-12 col-sm-12 col-md-8 col-left">

                <div class="content text-center">

                    <h2>Book a Table</h2>

                    <h3>Come and Enjoy</h3>

                    <img src="~/Content/images/title-shape.svg" alt="Title Shape Image">

                </div>

            </div>

            <div class="col-xs-12 col-sm-12 col-md-4 col-right">

                <div class="content text-center">

                    <h3> Your requirements</h3>

                    <form action="#" name="bookTable">

                        <div class="input-group">

                            <input type="text" class="form-control" autocomplete="off" placeholder="No. of Persons"
                                   oninput="this.value=this.value.replace(/(?![0-9])./gmi,'')" />

                            <div class="input-group-append">

                                <div class="input-group-text" id="persons">

                                    <i class="fas fa-user-friends"></i>

                                </div>

                            </div>

                        </div>

                        <div class="input-group date" id="datetimepicker4" data-target-input="nearest">

                            <input type="text" class="form-control datetimepicker-input" id="datePicker"
                                   data-target="#datetimepicker4" autocomplete="off" placeholder="Date"
                                   onkeydown="return false" />

                            <div class="input-group-append" data-target="#datetimepicker4"
                                 data-toggle="datetimepicker">

                                <div class="input-group-text" id="calendar">

                                    <i class="fa fa-calendar"></i>

                                </div>

                            </div>

                        </div>

                        <div class="input-group date" id="datetimepicker3" data-target-input="nearest">

                            <input type="text" class="form-control datetimepicker-input" id="timePicker"
                                   data-target="#datetimepicker3" autocomplete="off" placeholder="Time"
                                   onkeydown="return false" />

                            <div class="input-group-append" data-target="#datetimepicker3"
                                 data-toggle="datetimepicker">

                                <div class="input-group-text" id="time">

                                    <i class="fas fa-clock"></i>

                                </div>

                            </div>

                        </div>

                        <div class="input-group">

                            <input type="text" class="form-control" autocomplete="off" placeholder="Your Name" />

                            <div class="input-group-append">

                                <div class="input-group-text" id="yourname">

                                    <i class="fas fa-user-edit"></i>

                                </div>

                            </div>

                        </div>

                        <div class="input-group">

                            <input type="text" class="form-control" autocomplete="off"
                                   placeholder="Your Phone No." />

                            <div class="input-group-append">

                                <div class="input-group-text">

                                    <i class="fas fa-phone"></i>

                                </div>

                            </div>

                        </div>

                        <div class="input-group">

                            <input type="text" class="form-control" autocomplete="off" placeholder="Your Email" />

                            <div class="input-group-append">

                                <div class="input-group-text">

                                    <i class="fas fa-at"></i>

                                </div>

                            </div>

                        </div>

                        <div class="input-group">

                            <span class="input-group-btn">

                                <button class="btn subbtn" type="submit">Submit</button>

                            </span>

                        </div>

                    </form>

                </div>

            </div>

        </div>

    </div>

</section>
<!-- BOOK A TABLE PART END -->
<!-- CHEFS PART START -->
<section id="full-chefs" class="chefs">
    <div class="container">
        <div class="row">

            <div class="col-md-12">

                <div class="content text-center">

                    <h2>Meet Our People</h2>

                    <h3>Our Awesome Chefs</h3>

                    <img src="~/Content/images/title-shape.svg" alt="Title Shape Image">

                </div>

            </div>

            <div class="col col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12 chefs-list">

                <div class="row">

                    <div class="items col-xs-6 col-sm-6 col-md-3 p-0 drinks lunch snacks">

                        <div class="inner-item">
                            <img src="~/Content/images/chef-1.jpg">
                        </div>

                        <div class="items-overlay">
                            <p>
                                Rover Denson
                                <span>Executive Chef</span>
                            </p>

                            <ul>
                                <li>
                                    <a class="facebook" href="#">
                                        <i class="fab fa-facebook-f"></i>
                                    </a>
                                </li>
                                <li>
                                    <a class="twitter" href="#">
                                        <i class="fab fa-twitter"></i>
                                    </a>
                                </li>
                                <li>
                                    <a class="instagram" href="#">
                                        <i class="fab fa-instagram"></i>
                                    </a>
                                </li>
                            </ul>

                        </div>

                    </div>

                    <div class="items col-md-3 col-xs-6 col-sm-6 p-0 dinner breakfast drinks lunch">

                        <div class="inner-item">
                            <img src="~/Content/images/chef-2.jpg">
                        </div>

                        <div class="items-overlay">
                            <p>
                                Jimmy Cullum
                                <span>Sous Chef</span>
                            </p>

                            <ul>
                                <li>
                                    <a class="facebook" href="#">
                                        <i class="fab fa-facebook-f"></i>
                                    </a>
                                </li>
                                <li>
                                    <a class="twitter" href="#">
                                        <i class="fab fa-twitter"></i>
                                    </a>
                                </li>
                                <li>
                                    <a class="instagram" href="#">
                                        <i class="fab fa-instagram"></i>
                                    </a>
                                </li>
                            </ul>

                        </div>

                    </div>

                    <div class="items col-md-3 col-xs-6 col-sm-6 p-0 drinks snacks lunch dinner">

                        <div class="inner-item">
                            <img src="~/Content/images/chef-3.jpg">
                        </div>

                        <div class="items-overlay">
                            <p>
                                Kenneth Adler
                                <span>Chef de Partie</span>
                            </p>

                            <ul>
                                <li>
                                    <a class="facebook" href="#">
                                        <i class="fab fa-facebook-f"></i>
                                    </a>
                                </li>
                                <li>
                                    <a class="twitter" href="#">
                                        <i class="fab fa-twitter"></i>
                                    </a>
                                </li>
                                <li>
                                    <a class="instagram" href="#">
                                        <i class="fab fa-instagram"></i>
                                    </a>
                                </li>
                            </ul>

                        </div>

                    </div>

                    <div class="items col-md-3 col-xs-6 col-sm-6 p-0 lunch breakfast drinks snacks">

                        <div class="inner-item">
                            <img src="~/Content/images/chef-4.jpg">
                        </div>

                        <div class="items-overlay">
                            <p>
                                Judith Ritch
                                <span>Butcher Chef </span>
                            </p>

                            <ul>
                                <li>
                                    <a class="facebook" href="#">
                                        <i class="fab fa-facebook-f"></i>
                                    </a>
                                </li>
                                <li>
                                    <a class="twitter" href="#">
                                        <i class="fab fa-twitter"></i>
                                    </a>
                                </li>
                                <li>
                                    <a class="instagram" href="#">
                                        <i class="fab fa-instagram"></i>
                                    </a>
                                </li>
                            </ul>

                        </div>

                    </div>

                    <div class="items col-md-3 col-xs-6 col-sm-6 p-0 breakfast lunch snacks dinner d-none d-md-block">

                        <div class="inner-item">
                            <img src="~/Content/images/chef-5.jpg">
                        </div>

                        <div class="items-overlay">
                            <p>
                                Robert Varner
                                <span>Fish Chef</span>
                            </p>

                            <ul>
                                <li>
                                    <a class="facebook" href="#">
                                        <i class="fab fa-facebook-f"></i>
                                    </a>
                                </li>
                                <li>
                                    <a class="twitter" href="#">
                                        <i class="fab fa-twitter"></i>
                                    </a>
                                </li>
                                <li>
                                    <a class="instagram" href="#">
                                        <i class="fab fa-instagram"></i>
                                    </a>
                                </li>
                            </ul>

                        </div>

                    </div>

                    <div class="items col-md-3 col-xs-6 col-sm-6 p-0 drinks breakfast dinner lunch snacks d-none d-md-block">

                        <div class="inner-item">
                            <img src="~/Content/images/chef-6.jpg">
                        </div>

                        <div class="items-overlay">
                            <p>
                                Brent Carrizales
                                <span>Fry Chef</span>
                            </p>

                            <ul>
                                <li>
                                    <a class="facebook" href="#">
                                        <i class="fab fa-facebook-f"></i>
                                    </a>
                                </li>
                                <li>
                                    <a class="twitter" href="#">
                                        <i class="fab fa-twitter"></i>
                                    </a>
                                </li>
                                <li>
                                    <a class="instagram" href="#">
                                        <i class="fab fa-instagram"></i>
                                    </a>
                                </li>
                            </ul>

                        </div>

                    </div>

                    <div class="items col-md-3 col-xs-6 col-sm-6 p-0 drinks dinner breakfast d-none d-md-block">

                        <div class="inner-item">
                            <img src="~/Content/images/chef-7.jpg">
                        </div>

                        <div class="items-overlay">
                            <p>
                                Robert Martinez
                                <span>Grill Chef</span>
                            </p>

                            <ul>
                                <li>
                                    <a class="facebook" href="#">
                                        <i class="fab fa-facebook-f"></i>
                                    </a>
                                </li>
                                <li>
                                    <a class="twitter" href="#">
                                        <i class="fab fa-twitter"></i>
                                    </a>
                                </li>
                                <li>
                                    <a class="instagram" href="#">
                                        <i class="fab fa-instagram"></i>
                                    </a>
                                </li>
                            </ul>

                        </div>

                    </div>

                    <div class="items col-md-3 col-xs-6 col-sm-6 p-0 breakfast drinks snacks dinner d-none d-md-block">

                        <div class="inner-item">
                            <img src="~/Content/images/chef-8.jpg">
                        </div>

                        <div class="items-overlay">
                            <p>
                                Kevin Smith
                                <span>Pantry Chef</span>
                            </p>

                            <ul>
                                <li>
                                    <a class="facebook" href="#">
                                        <i class="fab fa-facebook-f"></i>
                                    </a>
                                </li>
                                <li>
                                    <a class="twitter" href="#">
                                        <i class="fab fa-twitter"></i>
                                    </a>
                                </li>
                                <li>
                                    <a class="instagram" href="#">
                                        <i class="fab fa-instagram"></i>
                                    </a>
                                </li>
                            </ul>

                        </div>

                    </div>

                </div>

            </div>

        </div>
    </div>
</section>
<!-- CHEFS PART END -->
<!-- NEWSLETTER PART START -->
<section id="full-newsletter" class="newsletter">
    <div class="container-fluid">
        <div class="row">

            <div class="col-md-6  col-left">

                <div class="content text-center">

                    <h2>Subscribe</h2>

                    <h3>Our Newsletter</h3>

                    <img src="~/Content/images/title-shape.svg" alt="Title Shape Image">

                    <p>
                        Subscribe to our newsletter
                        and get attractive offers.
                    </p>

                    <form action="#">

                        <div class="input-group">
                            <input type="email" class="form-control" placeholder="Enter your email">
                            <span class="input-group-btn">
                                <button class="btn" type="submit">Subscribe Now</button>
                            </span>
                        </div>

                    </form>

                </div>

            </div>

            <div class="col-md-6 col-right"></div>

        </div>
    </div>
</section>
<!-- NEWSLETTER PART END -->