
@{
    ViewBag.Title = "Menu";
}

<!-- PAGE HEADER PART START -->
<section id="full-page-header" class="page-header">
    <div class="container-fluid">
        <div class="row">

            <div class="col-md-12 p-0 header">

                <div class="content text-center">

                    <h2>Our Menu</h2>

                    <h3>Discover the taste</h3>

                    <img src="~/Content/images/title-shape.svg" alt="Title Shape Image">

                    <div class="breadcrumbs">
                        <ul class="breadcrumb justify-content-center">
                            <li class="breadcrumb-item"><a href="index.html">Home</a></li>
                            <li class="breadcrumb-item active" aria-current="page">
                                Menu
                            </li>
                        </ul>
                    </div>

                </div>

            </div>
        </div>
    </div>
</section>
<!-- PAGE HEADER PART END -->
<!-- MENU PAGE START -->
<section id="full-menu-page" class="menu-page">
    <div class="special-menu-tabs-master">

        <div class="special-menu-tabs">

            <div class="container-fluid">

                <div class="row">

                    <div class="col col-12 col-sm-12 col-md-12 col-lg-12 col-xl-2 col-left">

                        <p>ChoosyFoody</p>

                        <h3>menu</h3>

                        <div class="menu-category m-auto button-group filters-button-group">

                            <button type="button" class="button active" data-filter="*">
                                All
                                Dishes
                            </button>

                            <button type="button" class="button" data-filter=".breakfast">Breakfast</button>

                            <button type="button" class="button" data-filter=".lunch">Lunch</button>

                            <button type="button" class="button" data-filter=".dinner">Dinner</button>

                            <button type="button" class="button" data-filter=".drinks">Drinks</button>

                            <button type="button" class="button" data-filter=".snacks">Snacks</button>

                        </div>

                    </div>

                    <div class="col col-12 col-sm-12 col-md-12 col-lg-12 col-xl-10">

                        <div class="row grid menu-list">

                            <div class="element-item items col-xs-6 col-sm-6 col-md-3 p-0 drinks lunch snacks">

                                <div class="inner-item">
                                    <img src="~/Content/images/menu-01.jpg">
                                </div>

                                <div class="items-overlay">
                                    <p>Broasted Chicken</p>
                                    <p>$15.90</p>
                                </div>

                            </div>

                            <div class="element-item items col-md-3 col-xs-6 col-sm-6 p-0 dinner breakfast drinks lunch">

                                <div class="inner-item">
                                    <img src="~/Content/images/menu-02.jpg">
                                </div>

                                <div class="items-overlay">
                                    <p>Athens Chicken Breast</p>
                                    <p>$25.90</p>
                                </div>

                            </div>

                            <div class="element-item items col-md-3 col-xs-6 col-sm-6 p-0 drinks snacks lunch dinner">

                                <div class="inner-item">
                                    <img src="~/Content/images/menu-03.jpg">
                                </div>

                                <div class="items-overlay">
                                    <p>Steak-Shrimp Combo</p>
                                    <p>$15.90</p>
                                </div>

                            </div>

                            <div class="element-item items col-md-3 col-xs-6 col-sm-6 p-0 lunch breakfast drinks snacks">

                                <div class="inner-item">
                                    <img src="~/Content/images/menu-04.jpg">
                                </div>

                                <div class="items-overlay">
                                    <p>North Atlantic Haddock</p>
                                    <p>$40.00</p>
                                </div>

                            </div>

                            <div class="element-item items col-md-3 col-xs-6 col-sm-6 p-0 breakfast lunch snacks dinner">

                                <div class="inner-item">
                                    <img src="~/Content/images/menu-05.jpg">
                                </div>

                                <div class="items-overlay">
                                    <p>Apple Ceider squash and pork</p>
                                    <p>$15.90</p>
                                </div>

                            </div>

                            <div class="element-item items col-md-3 col-xs-6 col-sm-6 p-0 drinks breakfast dinner lunch snacks">

                                <div class="inner-item">
                                    <img src="~/Content/images/menu-06.jpg">
                                </div>

                                <div class="items-overlay">
                                    <p>Ribeye Steak</p>
                                    <p>$25.90</p>
                                </div>

                            </div>

                            <div class="element-item items col-md-3 col-xs-6 col-sm-6 p-0 drinks dinner breakfast d-none d-md-block">

                                <div class="inner-item">
                                    <img src="~/Content/images/menu-07.jpg">
                                </div>

                                <div class="items-overlay">
                                    <p>Fried Mushrooms</p>
                                    <p>$23.00</p>
                                </div>

                            </div>

                            <div class="element-item items col-md-3 col-xs-6 col-sm-6 p-0 breakfast drinks snacks dinner d-none d-md-block">

                                <div class="inner-item">
                                    <img src="~/Content/images/menu-08.jpg">
                                </div>

                                <div class="items-overlay">
                                    <p>Breaded Calamari Rings</p>
                                    <p>$14.90</p>
                                </div>

                            </div>

                            <div class="element-item items col-md-3 col-xs-6 col-sm-6 p-0 lunch drinks snacks breakfast d-none d-md-block">

                                <div class="inner-item">
                                    <img src="~/Content/images/menu-09.jpg">
                                </div>

                                <div class="items-overlay">
                                    <p>Grecian Salata</p>
                                    <p>$22.90</p>
                                </div>

                            </div>

                            <div class="element-item items col-md-3 col-xs-6 col-sm-6 p-0 breakfast lunch snacks dinner d-none d-md-block">

                                <div class="inner-item">
                                    <img src="~/Content/images/menu-10.jpg">
                                </div>

                                <div class="items-overlay">
                                    <p>Crabmeat Julienne</p>
                                    <p>$19.90</p>
                                </div>

                            </div>

                            <div class="element-item items col-md-3 col-xs-6 col-sm-6 p-0 drinks dinner lunch breakfast snacks d-none d-md-block">

                                <div class="inner-item">
                                    <img src="~/Content/images/menu-11.jpg">
                                </div>

                                <div class="items-overlay">
                                    <p>Chicken Lo-Cal Plate</p>
                                    <p>$15.90</p>
                                </div>

                            </div>

                            <div class="element-item items col-md-3 col-xs-6 col-sm-6 p-0 breakfast snacks dinner d-none d-md-block">

                                <div class="inner-item">
                                    <img src="~/Content/images/menu-12.jpg">
                                </div>

                                <div class="items-overlay">
                                    <p>Apple Ceider squash and pork</p>
                                    <p>$18.00</p>
                                </div>

                            </div>

                        </div>

                    </div>

                    <div class="col-md-12 pagination-block">
                        <nav>
                            <ul class="pagination justify-content-center">
                                <li class="page-item disabled">
                                    <a class="page-link" href="#" tabindex="-1">Previous</a>
                                </li>
                                <li class="page-item"><a class="page-link page-links active" href="#">1</a></li>
                                <li class="page-item"><a class="page-link page-links" href="#">2</a></li>
                                <li class="page-item"><a class="page-link page-links" href="#">3</a></li>
                                <li class="page-item">
                                    <a class="page-link" href="#">Next</a>
                                </li>
                            </ul>
                        </nav>
                    </div>

                </div>

            </div>

        </div>
    </div>
</section>
<!-- MENU PAGE PART END -->
