
@{
    ViewBag.Title = "OurChefs";
}


<!-- NAV BAR PART END -->
<!-- PAGE HEADER PART START -->
<section id="full-page-header" class="page-header">
    <div class="container-fluid">
        <div class="row">

            <div class="col-md-12 p-0 header">

                <div class="content text-center">

                    <h2>Meet Our People</h2>

                    <h3>Our Awesome Chefs</h3>

                    <img src="~/Content/images/title-shape.svg" alt="Title Shape Image">

                    <div class="breadcrumbs">
                        <ul class="breadcrumb justify-content-center">
                            <li class="breadcrumb-item"><a href="index.html">Home</a></li>
                            <li class="breadcrumb-item active" aria-current="page">
                                Our Chefs
                            </li>
                        </ul>
                    </div>

                </div>

            </div>
        </div>
    </div>
</section>
<!-- PAGE HEADER PART END -->
<!-- OUR CHEFS PAGE PART START -->
<section id="full-our-chefs-page" class="our-chefs-page chefs">
    <div class="container">
        <div class="row">

            <div class="col-md-12 chefs-list">

                <div class="row">

                    <div class="items col col-12 col-sm-6 col-md-3 p-0 ">

                        <div class="inner-item">
                            <img src="~/Content/images/chef-1.jpg">
                        </div>

                        <div class="items-overlay">
                            <p>
                                Rover Denson
                                <span>Executive Chef</span>
                            </p>

                            <ul>
                                <li>
                                    <a class="facebook" href="#">
                                        <i class="fab fa-facebook-f"></i>
                                    </a>
                                </li>
                                <li>
                                    <a class="twitter" href="#">
                                        <i class="fab fa-twitter"></i>
                                    </a>
                                </li>
                                <li>
                                    <a class="instagram" href="#">
                                        <i class="fab fa-instagram"></i>
                                    </a>
                                </li>
                            </ul>

                        </div>

                    </div>

                    <div class="items col col-12 col-sm-6 col-md-3 p-0 ">

                        <div class="inner-item">
                            <img src="~/Content/images/chef-2.jpg">
                        </div>

                        <div class="items-overlay">
                            <p>
                                Jimmy Cullum
                                <span>Sous Chef</span>
                            </p>

                            <ul>
                                <li>
                                    <a class="facebook" href="#">
                                        <i class="fab fa-facebook-f"></i>
                                    </a>
                                </li>
                                <li>
                                    <a class="twitter" href="#">
                                        <i class="fab fa-twitter"></i>
                                    </a>
                                </li>
                                <li>
                                    <a class="instagram" href="#">
                                        <i class="fab fa-instagram"></i>
                                    </a>
                                </li>
                            </ul>

                        </div>

                    </div>

                    <div class="items col col-12 col-sm-6 col-md-3 p-0 ">

                        <div class="inner-item">
                            <img src="~/Content/images/chef-3.jpg">
                        </div>

                        <div class="items-overlay">
                            <p>
                                Kenneth Adler
                                <span>Chef de Partie</span>
                            </p>

                            <ul>
                                <li>
                                    <a class="facebook" href="#">
                                        <i class="fab fa-facebook-f"></i>
                                    </a>
                                </li>
                                <li>
                                    <a class="twitter" href="#">
                                        <i class="fab fa-twitter"></i>
                                    </a>
                                </li>
                                <li>
                                    <a class="instagram" href="#">
                                        <i class="fab fa-instagram"></i>
                                    </a>
                                </li>
                            </ul>

                        </div>

                    </div>

                    <div class="items col col-12 col-sm-6 col-md-3 p-0 ">

                        <div class="inner-item">
                            <img src="~/Content/images/chef-4.jpg">
                        </div>

                        <div class="items-overlay">
                            <p>
                                Judith Ritch
                                <span>Butcher Chef </span>
                            </p>

                            <ul>
                                <li>
                                    <a class="facebook" href="#">
                                        <i class="fab fa-facebook-f"></i>
                                    </a>
                                </li>
                                <li>
                                    <a class="twitter" href="#">
                                        <i class="fab fa-twitter"></i>
                                    </a>
                                </li>
                                <li>
                                    <a class="instagram" href="#">
                                        <i class="fab fa-instagram"></i>
                                    </a>
                                </li>
                            </ul>

                        </div>

                    </div>

                    <div class="items col col-12 col-sm-6 col-md-3 p-0 ">

                        <div class="inner-item">
                            <img src="~/Content/images/chef-5.jpg">
                        </div>

                        <div class="items-overlay">
                            <p>
                                Robert Varner
                                <span>Fish Chef</span>
                            </p>

                            <ul>
                                <li>
                                    <a class="facebook" href="#">
                                        <i class="fab fa-facebook-f"></i>
                                    </a>
                                </li>
                                <li>
                                    <a class="twitter" href="#">
                                        <i class="fab fa-twitter"></i>
                                    </a>
                                </li>
                                <li>
                                    <a class="instagram" href="#">
                                        <i class="fab fa-instagram"></i>
                                    </a>
                                </li>
                            </ul>

                        </div>

                    </div>

                    <div class="items col col-12 col-sm-6 col-md-3 p-0 ">

                        <div class="inner-item">
                            <img src="~/Content/images/chef-6.jpg">
                        </div>

                        <div class="items-overlay">
                            <p>
                                Brent Carrizales
                                <span>Fry Chef</span>
                            </p>

                            <ul>
                                <li>
                                    <a class="facebook" href="#">
                                        <i class="fab fa-facebook-f"></i>
                                    </a>
                                </li>
                                <li>
                                    <a class="twitter" href="#">
                                        <i class="fab fa-twitter"></i>
                                    </a>
                                </li>
                                <li>
                                    <a class="instagram" href="#">
                                        <i class="fab fa-instagram"></i>
                                    </a>
                                </li>
                            </ul>

                        </div>

                    </div>

                    <div class="items col col-12 col-sm-6 col-md-3 p-0 d-none d-md-block">

                        <div class="inner-item">
                            <img src="~/Content/images/chef-7.jpg">
                        </div>

                        <div class="items-overlay">
                            <p>
                                Robert Martinez
                                <span>Grill Chef</span>
                            </p>

                            <ul>
                                <li>
                                    <a class="facebook" href="#">
                                        <i class="fab fa-facebook-f"></i>
                                    </a>
                                </li>
                                <li>
                                    <a class="twitter" href="#">
                                        <i class="fab fa-twitter"></i>
                                    </a>
                                </li>
                                <li>
                                    <a class="instagram" href="#">
                                        <i class="fab fa-instagram"></i>
                                    </a>
                                </li>
                            </ul>

                        </div>

                    </div>

                    <div class="items col col-12 col-sm-6 col-md-3 p-0 d-none d-md-block">

                        <div class="inner-item">
                            <img src="~/Content/images/chef-8.jpg">
                        </div>

                        <div class="items-overlay">
                            <p>
                                Kevin Smith
                                <span>Pantry Chef</span>
                            </p>

                            <ul>
                                <li>
                                    <a class="facebook" href="#">
                                        <i class="fab fa-facebook-f"></i>
                                    </a>
                                </li>
                                <li>
                                    <a class="twitter" href="#">
                                        <i class="fab fa-twitter"></i>
                                    </a>
                                </li>
                                <li>
                                    <a class="instagram" href="#">
                                        <i class="fab fa-instagram"></i>
                                    </a>
                                </li>
                            </ul>

                        </div>

                    </div>

                    <div class="items col col-12 col-sm-6 col-md-3 p-0 d-none d-md-block">

                        <div class="inner-item">
                            <img src="~/Content/images/chef-9.jpg">
                        </div>

                        <div class="items-overlay">
                            <p>
                                Robert Varner
                                <span>Fish Chef</span>
                            </p>

                            <ul>
                                <li>
                                    <a class="facebook" href="#">
                                        <i class="fab fa-facebook-f"></i>
                                    </a>
                                </li>
                                <li>
                                    <a class="twitter" href="#">
                                        <i class="fab fa-twitter"></i>
                                    </a>
                                </li>
                                <li>
                                    <a class="instagram" href="#">
                                        <i class="fab fa-instagram"></i>
                                    </a>
                                </li>
                            </ul>

                        </div>

                    </div>

                    <div class="items col col-12 col-sm-6 col-md-3 p-0 d-none d-md-block">

                        <div class="inner-item">
                            <img src="~/Content/images/chef-10.jpg">
                        </div>

                        <div class="items-overlay">
                            <p>
                                Brent Carrizales
                                <span>Fry Chef</span>
                            </p>

                            <ul>
                                <li>
                                    <a class="facebook" href="#">
                                        <i class="fab fa-facebook-f"></i>
                                    </a>
                                </li>
                                <li>
                                    <a class="twitter" href="#">
                                        <i class="fab fa-twitter"></i>
                                    </a>
                                </li>
                                <li>
                                    <a class="instagram" href="#">
                                        <i class="fab fa-instagram"></i>
                                    </a>
                                </li>
                            </ul>

                        </div>

                    </div>

                    <div class="items col col-12 col-sm-6 col-md-3 p-0 d-none d-md-block">

                        <div class="inner-item">
                            <img src="~/Content/images/chef-11.jpg">
                        </div>

                        <div class="items-overlay">
                            <p>
                                Robert Martinez
                                <span>Grill Chef</span>
                            </p>

                            <ul>
                                <li>
                                    <a class="facebook" href="#">
                                        <i class="fab fa-facebook-f"></i>
                                    </a>
                                </li>
                                <li>
                                    <a class="twitter" href="#">
                                        <i class="fab fa-twitter"></i>
                                    </a>
                                </li>
                                <li>
                                    <a class="instagram" href="#">
                                        <i class="fab fa-instagram"></i>
                                    </a>
                                </li>
                            </ul>

                        </div>

                    </div>

                    <div class="items col col-12 col-sm-6 col-md-3 p-0 d-none d-md-block">

                        <div class="inner-item">
                            <img src="~/Content/images/chef-12.jpg">
                        </div>

                        <div class="items-overlay">
                            <p>
                                Kevin Smith
                                <span>Pantry Chef</span>
                            </p>

                            <ul>
                                <li>
                                    <a class="facebook" href="#">
                                        <i class="fab fa-facebook-f"></i>
                                    </a>
                                </li>
                                <li>
                                    <a class="twitter" href="#">
                                        <i class="fab fa-twitter"></i>
                                    </a>
                                </li>
                                <li>
                                    <a class="instagram" href="#">
                                        <i class="fab fa-instagram"></i>
                                    </a>
                                </li>
                            </ul>

                        </div>

                    </div>

                </div>
            </div>

        </div>
    </div>
</section>
<!-- OUR CHEFS PAGE PART END -->
<!-- FOOTER PART START -->
<section id="full-footer" class="footer">

    <div class="footer-top">

        <div class="container">

            <div class="row">

                <div class="col col-12 col-sm-6 col-md-6 col-xl-4 col-1">

                    <div class="row">

                        <div class="col-md-12 logo">
                            <p>
                                <a href="index.html"><img src="images/cf-logo.png" alt="Logo"></a>
                            </p>
                        </div>

                        <div class="col-md-12">

                            <div class="social">
                                <p class="text">Around The Web</p>
                                <ul>
                                    <li>
                                        <ul>
                                            <li>
                                                <a class="facebook" href="YOUR%20FACEBOOK%20URL.html">
                                                    <i class="fab fa-facebook-f"></i>
                                                </a>
                                            </li>
                                            <li>
                                                <a class="twitter" href="YOUR%20TWITTER%20URL.html">
                                                    <i class="fab fa-twitter"></i>
                                                </a>
                                            </li>
                                            <li>
                                                <a class="instagram" href="YOUR%20INSTAGRAM%20URL.html">
                                                    <i class="fab fa-instagram"></i>
                                                </a>
                                            </li>
                                            <li>
                                                <a class="behance" href="YOUR%20BEHANCE%20URL.html">
                                                    <i class="fab fa-behance"></i>
                                                </a>
                                            </li>
                                            <li>
                                                <a class="behance" href="YOUR%20LINKED%20IN%20URL.html">
                                                    <i class="fab fa-linkedin-in"></i>
                                                </a>
                                            </li>
                                            <li>
                                                <a class="behance" href="YOUR%20YOUTUBE%20URL.html">
                                                    <i class="fab fa-youtube"></i>
                                                </a>
                                            </li>
                                        </ul>
                                    </li>
                                </ul>

                            </div>
                        </div>
                    </div>

                </div>

                <div class="col col-12 col-sm-6 col-md-6 col-xl-1 col-2">
                    <ul>
                        <li><a href="index.html">Home</a></li>
                        <li><a href="about-us.html">About Us</a></li>
                        <li><a href="menu.html">Menu</a></li>
                        <li><a href="our-chefs.html">Our Chefs</a></li>
                        <li><a href="contact-us.html">Contact</a></li>
                    </ul>
                </div>

                <div class="col col-12 col-sm-6 col-md-6 col-xl-4 col-3">

                    <div class="phone">
                        <p>+1 234 567 890</p>
                    </div>

                    <div class="mail">
                        <p>INFO@CHOOSYFOODY.COM</p>
                    </div>

                    <div class="address">
                        <p>77 GROVE STREET</p>
                        <p>SOUTH NEWYORK</p>
                        <p>NEWYORK 10013</p>
                        <p>UNITED STATES</p>
                    </div>

                </div>

                <div class="col col-12 col-sm-6 col-md-6 col-xl-3 col-4">

                    <p>Write something to us</p>

                    <form action="#">
                        <div class="input-group">
                            <input type="name" class="form-control" placeholder="Your name" autocomplete="off">
                        </div>

                        <div class="input-group">
                            <input type="email" class="form-control" placeholder="Your email" autocomplete="off">
                        </div>

                        <div class="input-group">
                            <textarea class="form-control" name="text" id="text" placeholder="Your message"
                                      autocomplete="off"></textarea>
                        </div>

                        <div class="input-group">
                            <span class="input-group-btn">
                                <button class="btn" type="submit">Submit</button>
                            </span>
                        </div>
                    </form>

                </div>

            </div>

        </div>
    </div>

    <div class="footer-bottom">
        <div class="container">

            <div class="row">

                <div class="col-md-8 col-left">

                    <a href="templateshub.net">Templates Hub</a>

                </div>

                <div class="col-md-4 col-right d-none d-md-block">

                </div>

            </div>

        </div>
    </div>

</section>


